{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
 <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <meta charset="UTF-8">
    <title>{{ ibox }} status </title>
    <style>
        table {border: ridge}
        tr {border: ridge}
        td {border: ridge}
    </style>
</head>
<body>
<table>
  <tr>
        <td>Station</td>
        <td>Status</td>
        <td>User</td>
        <td>Date</td>
    </tr>
         {% for tag in tags.values %}
             <tr>
                 <td> {{ tag.station }}</td>
                 <td> {{ tag.status}}</td>
                 <td> {{ tag.user }} </td>
                 <td> {{ tag.date }}</td>
             </tr>
{% endfor %}
</table>
</body>
</html>