<!DOCTYPE html>
<html lang="en">
<head>
    <script>
/*zf='#';
        do {console.log(zf); zf+=zf[0];}
        while (zf.length<=7);
*/
    </script>
 <script>
     var rsize=8;
     var sul='#';
     var spa='';
     var nwro='';
     for(var counter=0; counter<8; counter+=1) //appending row
        {var boolvar=!(counter %2);
            console.log(boolvar ? sul:spa);

         }
    /*      if(counter %2) //checking if row is even or odd to produce rows difference
                for(rcounter=0; counter<=8; counter+=1)
                    console.log('even');

            else (console.log('odd'));}

         console.log('\n');
*/

 </script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>