<!DOCTYPE html>
<html lang="en">
<head>
    <script>
zf='#';
        do {console.log(zf); zf+=zf[0];}
        while (zf.length<=7);

    </script>
 <script>
     rsize=8;
     sul='#';
     spa='';
     nwro='';
     for(counter=0; counter<8; counter+=1) //appending row
         {  if(counter %2) //checking if row is even or odd to produce rows difference
                for(rcounter=0; counter<=8; counter+=1)
                    console.log('even');

            else (console.log('odd'));}

         console.log('\n');



 </script>

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html>