<!DOCTYPE html>

<html lang="en">
<head>

<script>
        var outp =JSON.parse("{{wikistat|escapejs}}")
        { document.write(outp+'<br>');

    var elem = document.getElementById("myBar");

             elem.style.width = width + '%';

}

    </script>

<style>

#myProgress {
    width: 100%;
    background-color: grey;
}
#myBar {
    width: 1%;
    height: 30px;
    background-color: green;
}
</style>

    <title>Title</title>



</head>
<body>



<div id="myProgress" >
  <div id="myBar"></div>
</div>

<table>
    <tr>
        <td>System</td>
        <td>Total</td>
        <td>Done</td>
        <td> Progress</td>
    </tr>
    {% for tag in wikistat.values %}

        <tr>
            <td> {{ tag.wikipname }}</td>
            <td> {{ tag.total }}</td>
            <td> {{ tag.done }} </td>
            <td>


            </td>

        </tr>
    {% endfor %}
</table>
</body>
</html>