{% load staticfiles %}
<html>

<head>

<title>Test Page</title>

<!-- Might as well have some nice styling -->
<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
<script language="javascript">

// Here's some data.
var data =JSON.parse("{{wikistat|escapejs}}")

// Here's a function that formats data
// passed to it in the above format
// as a table. The HTML is returned
// as a string.
function createTable(data) {
    var html = '';

    // Assume data is an array of arrays,
    // containing strings.

    html += '<table width="800" border="5" cellspacing="0" cellpadding="0"  style="border: 1px dotted #ccc; border-top: none; border-bottom: none;">';


    // Step through the rows of the data.
    for(var row in data) {
        var rowData = data[row];

        if(row == 0) {
            html += '<tr>';
        }
        else {
            html += '<tr>';


        }

        // Step through the columns in
        // this row.
        //        for(var i=0; i<rowData.length; i++) {
        //    var colData = rowData[i];

        var coldlst = [];
        for (var col in rowData)

        {
            var colData = rowData[col];
            coldlst.push(colData);
        }

        html += '<td width="100px"  style="padding-left: 9px; padding-right: 9px;font-family:Arial; font-size: 20px; background-color:#cee1ff;"><p>';
        html += coldlst[0];
        html += '</td>';

        html += '<td width="100px"  style="padding-left: 9px; padding-right: 9px;font-family:Arial; font-size: 18px;background-color:#cee1ff;"><p>';
        html += coldlst[1]+' / '+coldlst[2];
        html += '</p></td>';

        html += '<td width="400px"  style="padding-left: 9px; padding-right:9px;font-family:Arial; font-size: 12px;">';
        html += '<div id="bg" style="width:100%; background-color:#cee1ff;">';
        html += '<div id="fill" style="width:'+coldlst[3]+'%; height: 20px; background-color: #71cc2c;"></div></div>';
        html += '</td>';



        html += '</tr>';
    }

    html += '</table>';

    return html;
}

// This function takes the formatted HTML
// and inserts it into the document as
// 'child' HTML of the specified element.
function insertHTML(id, html) {
    var el = document.getElementById(id);
    console.log(el);
    if(!el) {
        alert('Element with id ' + id + ' not found.');
    }

    el.innerHTML = html;
}

// This function ties things up.
function run() {
    var html = createTable(data);

    insertHTML('tabledata', html);
}

// Run everything when the document loads.
window.onload = run;

</script>

</head>

<body>

<div id="tabledata"></div>

</body>

</html>